body{
    margin:0;
    background:#0a0a0a;
    color:white;
    font-family: 'JetBrains Mono', monospace;
}

section{
    padding:80px;
    text-align:center;
}

.logo{
    color:#00ff88;
    letter-spacing:3px;
}

h1{
    font-size:60px;
}

h2{
    color:#00ff88;
}

.terminal{
    border:1px solid #00ff88;
    width:700px;
    margin:auto;
    padding:30px;
    margin-top:80px;
}

.intro{
    width:600px;
    margin:auto;
    line-height:1.6;
}

.project-grid{
    display:flex;
    justify-content:center;
    gap:20px;
}

.card{
    width:300px;
    padding:20px;
    border:1px solid #333;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

h1{
    animation:fadeIn 2s;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

a{
    display:inline-block;
    margin:20px;
    padding:10px 20px;
    border:1px solid #00ff88;
    color:#00ff88;
    text-decoration:none;
}

ul{
    list-style:none;
    padding:0;
}

li{
    margin:10px;
}

.project-card{
    width:300px;
    margin:20px auto;
    padding:20px;
    border:1px solid #444;
}